
<footer class="haiyo-footer">
  <a href="https://www.linkedin.com/in/adedotun-alausa" target="_blank"><i class="fab fa-linkedin"></i></a>
  <a href="https://github.com/adedotunalausa" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://www.instagram.com/mousebrushstudio/" target="_blank"><i class="fab fa-instagram"></i></a>
  <span>© 2020 Adedotun Alausa</span>
</footer>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</div>
</body>

</html>
