
<%- include("partials/header") -%>

<div class="main-failure">

  <div class="jumbotron">
    <h2 class="display-4"> No matching name found! </h2>
    <p class="lead">However, we'd appreciate if you can <a href="/suggestName">submit</a> the name with us and it'll be added the next time you come here. </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-md shadow-none" href="/suggestName" role="button"> Submit name => </a>
  </div>

</div>


<%- include("partials/footer") -%>
