
<%- include("partials/header") -%>


<div class="main-how-it-works">

    <h1>How haiyo Works</h1>

    <p>Search Nigerian names and get their meanings</p>

</div>



<%- include("partials/footer") -%>
