

<%- include("partials/header") -%>

<div class="main main-nameSaved">

  <div class="jumbotron">
    <h2 class="display-4"> Thank you! </h2>
    <p class="lead"> Data saved successfuly</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-md shadow-none" href="/" role="button"> <= Keep Exploring</a>
  </div>

</div>


<%- include("partials/footer") -%>
